@use "list_view/timeline_list" as ls;
@use "list_view/task_list" as tl;
@use "list_view/task_info" as ti;

.list_view {
    display: grid;
    grid-template-areas: "#{ls.$area_name} #{tl.$area_name} #{ti.$area_name}";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;

    .timeline_list {
        @include ls.timeline_list;
    }

    .task_list {
        @include tl.task_list;
    }

    .task_info {
        @include ti.task_info;
    }
}