.navbar {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "page-name buttons";

    .page-name {
        display: flex;
        align-items: center;
        justify-items: left;
        width: fit-content;
        grid-area: page-name;
    }

    .buttons {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        grid-area: buttons;

        button {
            padding: 0.2em;
            flex: 1;
        }
    }
}