body {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .login {
        display: grid;
        grid-template-columns: 10em;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "password"
            "username"
            "login-button";

        input {
            padding: 0.5em;
            
            #username-input {
                grid-area: username;
            }
            #password-input {
                grid-area: password;
            }
        }

        button {
            padding: 0.5em;

            #login-button {
                grid-area: login-button;
            }
        }

        p {
            .error {
                color: Tomato;
            }   
        }
    }
}