body {
    margin: 1em;

    .list_view {
        display: grid;
        grid-template-areas:
            "list_selector list";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;

        .list_selector {
            grid-area: list_selector;
            font-size: 20px;
            display: grid;
            grid-template-areas:
                "timeline_creator"
                "available_timelines";
            grid-template-columns: 1fr;
            grid-template-rows: 30px auto;

            input {
                font-size: 20px;
                text-align: center;
                grid-area: timeline_creator;
            }

            .available_timelines {
                grid-area: available_timelines;

                button {
                    display: block;
                    border: none;
                    font-size: 20px;
                    width: 100%;
                    padding: 15px 32px;
                    cursor: pointer;
                }
            }
        }

        .task_list {
            grid-area: list;
            font-size: 20px;
            display: grid;
            grid-template-areas:
                "title"
                "input"
                "list";
            grid-template-columns: 1fr;
            grid-template-rows: 50px 30px auto;

            h2 {
                margin-top: 0.5rem;
                text-align: center;
                grid-area: title;
                cursor: default;
            }

            input {
                font-size: 20px;
                text-align: center;
                grid-area: input;
            }

            .checkbox {
                font-size: 20px;
            }
        }
    }
}