$area_name: "task_info";

@mixin task_info {
    grid-area: task_info;
    grid-template-areas:
        "title";
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    padding: 0.5em;

    h2 {
        grid-area: title;
        text-align: center;
        cursor: default;
    }

    .task_body_input {
        width: 100%;
        overflow-wrap: anywhere;
        overflow: hidden;
        resize: none;
        padding: 0.2em;
    }

    .task_body {
        width: 100%;
        overflow-wrap: anywhere;
        white-space: break-spaces;
        padding: 0.2em;
        cursor: pointer;
    }
}