@use "task_list/checkbox" as cb;

$area_name: "task_list";

@mixin task_list {
    grid-area: task_list;
    font-size: 20px;
    display: grid;
    grid-template-areas:
        "title"
        "input"
        "list";
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px auto;

    h2 {
        margin-top: 0.5rem;
        text-align: center;
        grid-area: title;
        cursor: default;
    }

    input {
        font-size: 20px;
        text-align: center;
        grid-area: input;
    }

    .task_item {
        font-size: 20px;
        display: grid;
        grid-template-areas: "#{cb.$area_name} task_body task_delete";
        grid-template-columns: 3em auto 4em;
        grid-template-rows: 1fr;
        background-color: rgb(220, 220, 220);

        .checkbox {
            @include cb.checkbox;
        }

        .task_body {
            grid-area: task_body;
            border: none;
            font-size: 20px;
            padding: 15px 15px;
            background-color: rgb(220, 220, 220);
            cursor: pointer;
        }

        .task_delete {
            grid-area: task_delete;
            border: none;
            font-size: 16px;
            padding: 15px 15px;
            background-color: rgb(255, 86, 35);
            cursor: pointer;
        }

        input {
            cursor: pointer;
        }
    }
}