@use "timeline_list/timeline_item" as ti;

$area_name: "list_selector";

@mixin list_selector {
    grid-area: list_selector;
    font-size: 20px;
    display: grid;
    grid-template-areas:
        "timeline_creator"
        "available_timelines";
    grid-template-columns: 1fr;
    grid-template-rows: 30px auto;

    input {
        font-size: 20px;
        text-align: center;
        grid-area: timeline_creator;
    }

    .available_timelines {
        grid-area: available_timelines;

        .timeline_item {
            @include ti.timeline_item;
        }
    }
}